<html>
  <head>
    <title><%= title %></title>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      var lineData = <%= data.to_json %>;
      var gcLineData = <%= gc_data.to_json %>;

      var generator = {
        createData: function(data) {
          var d = [];
          for(var i=0; i < data.length; i++) {
            var tt = [];
            var ll = data[i];
            var dt = new Date(ll.shift());
            tt.push(dt);
            for(var j=0; j < ll.length; j++) {
              tt.push(ll[j]);
            }
            d.push(tt);
          }
          return d;
        }
      };
      function drawChart() {
        // var d = [];
        // for(var i=0; i < lineData.length; i++) {
        //   var tt = [];
        //   var ll = lineData[i];
        //   var dt = new Date(ll.shift());
        //   tt.push(dt);
        //   for(var j=0; j < ll.length; j++) {
        //     tt.push(ll[j]);
        //   }
        //   d.push(tt);
        // }
        var d = generator.createData(lineData);
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Pre');
        data.addColumn('string', 'title1');
        data.addColumn('string', 'text1');
        data.addColumn('number', 'After');
        data.addColumn('string', 'title2');
        data.addColumn('string', 'text2');
        data.addColumn('number', 'Total');
        data.addColumn('string', 'title3');
        data.addColumn('string', 'text3');
        data.addRows(d);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: true, dateFormat: 'HH:mm MMMM dd, yyyy'});

        var d2 = generator.createData(gcLineData);
        var data2 = new google.visualization.DataTable();
        data2.addColumn('date', 'Date');
        data2.addColumn('number', 'Time (umsec)');
        data2.addColumn('string', 'title4');
        data2.addColumn('string', 'text4');
        data2.addRows(d2);

        var chart2 = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_gc_time_div'));
        chart2.draw(data2, {displayAnnotations: true, dateFormat: 'HH:mm MMMM dd, yyyy'});

      }
    </script>
  </head>

  <body>
    <h2><%= title %></h2>
    <div id='chart_div' style='width: 900px; height: 500px;'></div>

    <h2>Collection Time</h2>
    <div id='chart_gc_time_div' style='width: 900px; height: 500px;'></div>

  </body>
</html>
